{{#if length}}
<h1 style="text-align: center;">Companies</h1>
<ul style="text-align: center;">
  {{#each companys}}
  <li style="list-style: none;">
    <h3><em>Name Of the Company</em> : <span style="color: grey;">{{this.name}}</span></h3>
    <h3><em>Product</em> : <span style="color: grey;">{{this.product}}</span></h3>
    <h3><em>Description</em> : <span style="color: grey;">{{this.description}}</span></h3>
    <h3><em>Owner Name</em> : <span style="color: grey;">{{this.owner}}</span></h3>
    <form action="/join/{{this.id}}/{{this.name}}" method="POST">
      <input type="submit" value="Join Company"></form>
    <form action="/companyPofile/some/{{this.id}}" method="GET">
      <input type="submit" value="Dashboard of the Company"></form>
    <hr>
    {{/each}}

</ul>
{{else}}
<h1>Companies not available</h1>
{{/if}}